h1{
    color: indianred;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.btn{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 100px;
}
p{
    color: chartreuse;
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
canvas{
    border: 5px solid white;
    border-radius: 20px;
    margin-top: 50px;
    animation-name: canvas;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes canvas{
    from{box-shadow: 1px 1px 38px pink;}
    to{box-shadow: 1px 1px 38px red;}
}
body{
    background-color: darkblue;
}